* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: white;
  color: #000000;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  align-content: start;
  align-items: stretch;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  font-weight: bold;
  padding-top: 25px;
}

.namatoko {
  display: flex;
  font-weight: bold;
  font-size: 36px;
  text-decoration: none;
  color: #000000;
  padding-left: 65px;
  letter-spacing: 3px;
  align-items: center;
}

.nama-toko {
  text-decoration: none;
  color: #000000;
}

.menu {
  display: flex;
  font-size: 20px;
  padding-right: 30px;
  align-items: center;
}

ul {
  display: flex;
  gap: 82px;
  flex-wrap: nowrap;
  align-content: start;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
}

ul li {
  float: left;
}

ul li a {
  display: flex;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

ul li a:hover {
  color: #0ce91e;
}

/* landing Page */
.landingpage {
  display: flex;
  justify-content: space-between;
  font-size: 26px;
}

.headline {
  align-content: center;
  padding: 200px;
}

.txt {
  color: #11c01f;
}

.start {
  background-color: white;
  border: 2px solid #11c01f;
  color: #11c01f;
  padding: 13px 43px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 546;
  cursor: pointer;
}

.start:hover {
  background-color: #11c01f;
  color: white;
}

.poster {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  margin-top: 60px;
  padding-right: 200px;
}

.poster img {
  width: 100%;
}

/* about */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 100px 0;
}

.container {
  max-width: 1140px;
  margin: auto;
}
